<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Visma Business NXT Examples</title>
        <style>
            input{
                margin-top: 10px;
            }
          </style>
    </head>
    <body>                

        <h1>Create an associate</h1>
        <form action="/createassociate" method="post">
            <input type="text" name="name" placeholder="Associate name"/>
            <br>
            <input type="text" name="shortName" placeholder="Short name"/>
            <br>
            <input type="number" name="customerNo" placeholder="Customer number">
            <br>
            <input type="number" name="supplierNo" placeholder="Supplier number">
            <br>
            <input type="submit" value="Send"/>
        </form>

        <h2>Result of entry</h2>
        {%for associate in associates%}
        <p>Associate Number: {{ associate["associateNo"] }}</p>
        <p>Customer Number: {{ associate["customerNo"]}} </p>
        <p>Supplier Number: {{ associate["supplierNo"]}} </p>
        <p>Associate name: {{ associate["name"]}} </p>
        <p>Associate short name: {{ associate["shortName"]}} </p>
        {%endfor%}

    </body>
</html>