<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Visma Business NXT Examples</title>
    </head>
    <body>                

        <h1>Create your own order</h1>
        <form action="/createorder" method="post">
            <input type="text" name="orderName" placeholder="OrderName"/>
            <input type="number" name="customerNo" placeholder="CustomerNumber"/>
            <input type="submit" value="Send"/>
        </form>

        <h2>Result of entry</h2>
        {%for order in orders%}
        <p>Order Number: {{ order["orderNo"] }}</p>
        <p>Order Date: {{ order["orderDate"]}}</p>
        <p>Customer Number: {{ order["customerNo"]}}</p>
        {%endfor%}

    </body>
</html>