<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Visma Business NXT Examples</title>
    </head>
    <body>        
        {% if session['token'] %}
            <p>You are logged in</p>
            <p>Token expires: {{ session['expiretime'] }}</p>
            <p>You have selected company {{ session['companyno'] }}</p>
        {% else %}
            <p>You are not logged in</p>
        {% endif %}

        <ul>
            <li><a href="{{ url_for('authenticate.login') }}">Login (manual)</a></li>        
            <li><a href="{{ url_for('getavailablecompanies.getavailcompanies') }}">Get Available Companies</a></li>
            <li><a href="{{ url_for('listorders.getorderlist') }}">Get List of orders</a></li>
            <li><a href="{{ url_for('countorders.gettotalorders')}}">Get view of total orders</a></li>
            <li><a href="{{ url_for('createorder.postorder')}}">Create an Order</a></li>
            <li><a href="{{ url_for('addorderlines.postorderLines')}}">Add orderlines to existing order</a></li>
            <li><a href="{{ url_for('createassociate.postAssociate')}}">Create an Associate</a></li>
        </ul>        
    </body>
</html>